@import url("https://fonts.googleapis.com/css?family=Quicksand:400,700");
@import url("https://fonts.googleapis.com/css?family=Sedgwick+Ave");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i");
@import url("https://fonts.googleapis.com/css?family=Noto+Serif:400,700");
@import url("https://fonts.googleapis.com/css?family=Merriweather:400,700,900|Raleway:400,700,800,900");
@import url("https://fonts.googleapis.com/css?family=Barlow:400,700,900");
@import url("https://fonts.googleapis.com/css?family=Andika");
@import url("https://fonts.googleapis.com/css?family=Pacifico|Ubuntu:400,700|Vollkorn:400,700,900,900i");
.myself {
  width: 100%;
  background: url(../images/ale/ale81.png) no-repeat center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
  color: #27231f;
  margin: 0; }

.whoIam {
  padding-top: 22vh;
  width: 90%;
  margin: 0;
  padding-left: 5%;
  text-align: left;
  font-family: Raleway; }
  .whoIam h1 {
    font-size: 350%;
    font-weight: 700; }
  .whoIam h2 {
    font-weight: 600;
    font-size: 280%; }
  @media only screen and (max-width: 768px) {
    .whoIam {
      padding-top: 22vh; }
      .whoIam h1 {
        font-size: 270%; }
      .whoIam h2 {
        font-size: 230%; } }
  @media only screen and (min-width: 992px) {
    .whoIam h1 {
      font-size: 450%; }
    .whoIam h2 {
      font-size: 260%; } }

.whatIdo {
  font-family: Raleway;
  color: #ecf0f1;
  position: relative;
  left: 2%; }

.whatIdo-visible {
  float: left;
  position: relative; }
  .whatIdo-visible h2 {
    margin-top: 0;
    color: #10457a; }

.meet-me {
  position: absolute;
  left: 50%;
  margin-left: -22.5px;
  bottom: 20px;
  width: 45px;
  font-size: 40px;
  color: #e8e8e8;
  border: none;
  border-radius: 50%;
  background: linear-gradient(45deg, #b31328, #b31328, #b31328);
  background-size: 300% 300%;
  cursor: pointer;
  transition: all 0.3s ease;
  padding: 2px; }
  .meet-me:hover {
    font-size: 50px;
    width: 55px; }

.about-me {
  height: 100vh;
  position: relative; }

.form-v, .skills, .skills-end, .contact-me {
  position: relative;
  width: 100%;
  background: #27231f; }
  .form-v:before, .skills:before, .skills-end:before, .contact-me:before {
    position: absolute;
    content: '';
    width: 50%;
    height: 100px;
    top: -48px;
    left: 0;
    background: #27231f;
    transform: skewY(8deg);
    z-index: 0; }
  .form-v:after, .skills:after, .skills-end:after, .contact-me:after {
    position: absolute;
    content: '';
    width: 50%;
    height: 100px;
    top: -48px;
    right: 0;
    background: #27231f;
    transform: skewY(-8deg);
    z-index: 0; }

.skills {
  height: 100px;
  padding-top: 1%;
  background: #b31328; }
  .skills:after, .skills:before {
    background: #b31328; }

.girl-code {
  width: 50%;
  position: absolute;
  bottom: 5px;
  left: 18%; }

.photo-me {
  width: 70%;
  display: block;
  position: relative;
  top: 20%;
  padding-top: 20%; }

.one {
  margin-top: 5px; }
  @media only screen and (max-width: 768px) {
    .one {
      display: none; } }

.two {
  width: 100%;
  border: 5px solid white; }
  @media only screen and (max-width: 768px) {
    .two {
      margin-top: 220px;
      position: absolute;
      right: 20px;
      width: 50%; } }

.my-bio {
  color: #FAFAFA;
  font-family: Quicksand;
  width: 100%;
  font-size: 1.4em;
  position: relative;
  top: 150px; }

.skills-end {
  height: 750px;
  background: #b31328; }
  @media only screen and (max-width: 768px) {
    .skills-end {
      height: 1100px; } }
  @media only screen and (min-width: 992px) {
    .skills-end {
      height: 650px; } }
  .skills-end:after, .skills-end:before {
    background: #b31328; }
  .skills-end:before {
    bottom: -48px;
    left: 0;
    transform: skewY(-8deg);
    height: 850px;
    z-index: 1; }
    @media only screen and (max-width: 768px) {
      .skills-end:before {
        height: 1200px; } }
    @media only screen and (min-width: 992px) {
      .skills-end:before {
        height: 750px; } }
  .skills-end:after {
    height: 850px;
    bottom: -48px;
    z-index: 1;
    right: 0;
    transform: skewY(8deg); }
    @media only screen and (max-width: 768px) {
      .skills-end:after {
        height: 1200px; } }
    @media only screen and (min-width: 992px) {
      .skills-end:after {
        height: 750px; } }

#SkillBox {
  font-size: 20px;
  font-family: Quicksand;
  width: 100%;
  height: auto;
  z-index: 10000;
  position: absolute;
  top: -35px;
  padding: 30px; }

.SkillBar {
  width: 100%;
  height: 25px;
  position: relative;
  background: rgba(17, 17, 17, 0.3);
  top: 4px; }

.skill {
  width: 33%;
  height: 160px;
  margin: 15px 0;
  float: left;
  text-align: center;
  padding: 20px; }
  @media only screen and (max-width: 768px) {
    .skill {
      width: 50%; } }
  @media only screen and (min-width: 768px) {
    .skill {
      width: 33%; } }
  @media only screen and (min-width: 992px) {
    .skill {
      width: 25%; } }

.img-skill {
  width: 20%;
  -webkit-filter: brightness(50%);
  filter: brightness(80%); }

#Skill-HTML {
  width: 95%;
  animation: Animate-HTML 4s;
  height: 25px;
  position: absolute;
  background-color: #eba08a; }

@keyframes Animate-HTML {
  from {
    width: 10px; }
  to {
    width: 95%; } }
@-webkit-keyframes Animate-HTML {
  from {
    width: 10px; }
  to {
    width: 95%; } }
@-moz-keyframes Animate-HTML {
  from {
    width: 10px; }
  to {
    width: 95%; } }
@-o-keyframes Animate-HTML {
  from {
    width: 10px; }
  to {
    width: 95%; } }
#Skill-css {
  width: 70%;
  animation: Animate-css 4s;
  height: 25px;
  position: absolute;
  background-color: #7de9de; }

@keyframes Animate-css {
  from {
    width: 10px; }
  to {
    width: 70%; } }
@-webkit-keyframes Animate-css {
  from {
    width: 10px; }
  to {
    width: 70%; } }
@-moz-keyframes Animate-css {
  from {
    width: 10px; }
  to {
    width: 70%; } }
@-o-keyframes Animate-css {
  from {
    width: 10px; }
  to {
    width: 70%; } }
#Skill-js {
  width: 80%;
  animation: Animate-js 4s;
  height: 25px;
  position: absolute;
  background-color: #ebcba8; }

@keyframes Animate-js {
  from {
    width: 10px; }
  to {
    width: 80%; } }
@-webkit-keyframes Animate-js {
  from {
    width: 10px; }
  to {
    width: 80%; } }
@-moz-keyframes Animate-js {
  from {
    width: 10px; }
  to {
    width: 80%; } }
@-o-keyframes Animate-js {
  from {
    width: 10px; }
  to {
    width: 80%; } }
#Skill-jQuery {
  width: 80%;
  animation: Animate-jQuery 4s;
  height: 25px;
  position: absolute;
  background-color: #f5d2aa; }

@keyframes Animate-jQuery {
  from {
    width: 10px; }
  to {
    width: 75%; } }
@-webkit-keyframes Animate-jQuery {
  from {
    width: 10px; }
  to {
    width: 75%; } }
@-moz-keyframes Animate-jQuery {
  from {
    width: 10px; }
  to {
    width: 75%; } }
@-o-keyframes Animate-jQuery {
  from {
    width: 10px; }
  to {
    width: 75%; } }
#Skill-Bootstrap {
  width: 75%;
  animation: Animate-bootstrap 4s;
  height: 25px;
  position: absolute;
  background-color: #f8c4c1; }

@keyframes Animate-bootstrap {
  from {
    width: 10px; }
  to {
    width: 75%; } }
@-webkit-keyframes Animate-bootstrap {
  from {
    width: 10px; }
  to {
    width: 75%; } }
@-moz-keyframes Animate-bootstrap {
  from {
    width: 10px; }
  to {
    width: 75%; } }
@-o-keyframes Animate-bootstrap {
  from {
    width: 10px; }
  to {
    width: 75%; } }
#Skill-Sass {
  width: 50%;
  animation: Animate-sass 4s;
  height: 25px;
  position: absolute;
  background-color: #a9f7b7; }

@keyframes Animate-sass {
  from {
    width: 10px; }
  to {
    width: 50%; } }
@-webkit-keyframes Animate-sass {
  from {
    width: 10px; }
  to {
    width: 50%; } }
@-moz-keyframes Animate-sass {
  from {
    width: 10px; }
  to {
    width: 50%; } }
@-o-keyframes Animate-sass {
  from {
    width: 10px; }
  to {
    width: 50%; } }
#Skill-Redux {
  width: 60%;
  animation: Animate-redux 4s;
  height: 25px;
  position: absolute;
  background-color: #e9b1fa; }

@keyframes Animate-redux {
  from {
    width: 10px; }
  to {
    width: 60%; } }
@-webkit-keyframes Animate-redux {
  from {
    width: 10px; }
  to {
    width: 60%; } }
@-moz-keyframes Animate-redux {
  from {
    width: 10px; }
  to {
    width: 60%; } }
@-o-keyframes Animate-redux {
  from {
    width: 10px; }
  to {
    width: 60%; } }
#Skill-React {
  width: 70%;
  animation: Animate-react 4s;
  height: 25px;
  position: absolute;
  background-color: #f1f58d; }

@keyframes Animate-react {
  from {
    width: 10px; }
  to {
    width: 70%; } }
@-webkit-keyframes Animate-react {
  from {
    width: 10px; }
  to {
    width: 70%; } }
@-moz-keyframes Animate-react {
  from {
    width: 10px; }
  to {
    width: 70%; } }
@-o-keyframes Animate-react {
  from {
    width: 10px; }
  to {
    width: 70%; } }
#Skill-Firebase {
  width: 50%;
  animation: Animate-firebase 4s;
  height: 25px;
  position: absolute;
  background-color: #a0b3ff; }

@keyframes Animate-firebase {
  from {
    width: 10px; }
  to {
    width: 50%; } }
@-webkit-keyframes Animate-firebase {
  from {
    width: 10px; }
  to {
    width: 50%; } }
@-moz-keyframes Animate-firebase {
  from {
    width: 10px; }
  to {
    width: 50%; } }
@-o-keyframes Animate-firebase {
  from {
    width: 10px; }
  to {
    width: 50%; } }
#Skill-Git {
  width: 90%;
  animation: Animate-git 4s;
  height: 25px;
  position: absolute;
  background-color: #84daf1; }

@keyframes Animate-git {
  from {
    width: 10px; }
  to {
    width: 90%; } }
@-webkit-keyframes Animate-git {
  from {
    width: 10px; }
  to {
    width: 90%; } }
@-moz-keyframes Animate-git {
  from {
    width: 10px; }
  to {
    width: 90%; } }
@-o-keyframes Animate-git {
  from {
    width: 10px; }
  to {
    width: 90%; } }
#Skill-Trello {
  width: 90%;
  animation: Animate-trello 4s;
  height: 25px;
  position: absolute;
  background-color: #fab647; }

@keyframes Animate-trello {
  from {
    width: 10px; }
  to {
    width: 90%; } }
@-webkit-keyframes Animate-trello {
  from {
    width: 10px; }
  to {
    width: 90%; } }
@-moz-keyframes Animate-trello {
  from {
    width: 10px; }
  to {
    width: 90%; } }
@-o-keyframes Animate-trello {
  from {
    width: 10px; }
  to {
    width: 90%; } }
.Skill-Area {
  z-index: 1;
  float: left;
  margin-top: 0px;
  margin-left: 15px;
  text-shadow: none;
  color: #fff;
  font-size: 18px; }

.skills-end .title-parts {
  top: -92px; }

.portfolio .title-parts {
  top: 80px; }

.contact-me-data {
  width: 90%;
  position: absolute;
  top: 150px;
  right: 5%; }

.contact-me .title-parts {
  top: 80px;
  right: 5%; }

.portfolio {
  background: #27231f;
  height: 900px;
  position: relative;
  padding-top: 190px;
  margin-top: -20px;
  z-index: 0.0001; }
  @media only screen and (max-width: 768px) {
    .portfolio {
      height: 1500px; } }
  @media only screen and (min-width: 992px) {
    .portfolio {
      height: 680px; } }

.portfolio-container {
  width: auto;
  justify-content: center;
  text-align: center; }

.view {
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
  padding: 10px; }

.view .mask,
.view .content {
  width: 100%;
  height: 180px;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  padding: 10px; }

.mask {
  border: 10px solid transparent;
  background: white; }

.view img {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 180px; }

.view h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  font-family: Raleway, serif;
  padding: 10px;
  /*background: rgba(0, 0, 0, 0.8);*/
  margin: 20px 0 0 0; }

.view p {
  font-family: Merriweather, serif;
  font-style: italic;
  font-size: 14px;
  position: relative;
  color: #fff;
  padding: 0px 20px 0px;
  text-align: center; }

.view a.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  background: #000;
  color: #fff;
  font-family: Raleway, serif;
  text-transform: uppercase;
  box-shadow: 0 0 1px #000; }

.view a.info:hover {
  box-shadow: 0 0 5px #000; }

.view-tenth img {
  transform: scaleY(1);
  transition: all .7s ease-in-out; }

.view-tenth .mask {
  background-color: white;
  transition: all 0.5s linear;
  opacity: 0; }

.view-tenth h2 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  background: transparent;
  margin: 20px 40px 0px 40px;
  transform: scale(0);
  color: #333;
  transition: all 0.5s linear;
  opacity: 0; }

.view-tenth p {
  color: #333;
  opacity: 0;
  transform: scale(0);
  transition: all 0.5s linear; }

.view-tenth a.info {
  opacity: 0;
  transform: scale(0);
  transition: all 0.5s linear; }

.view-tenth:hover img {
  -webkit-transform: scale(10);
  transform: scale(10);
  opacity: 0; }

.view-tenth:hover .mask {
  opacity: 1; }

.view-tenth:hover h2,
.view-tenth:hover p,
.view-tenth:hover a.info {
  transform: scale(1);
  opacity: 1; }

.portfolio .title-parts {
  top: 80px; }

.contact-me {
  color: #FAFAFA;
  font-family: Quicksand;
  width: 100%;
  font-size: 1.4em;
  position: relative;
  height: 500px;
  height: 600px;
  background: #b31328; }
  .contact-me:after, .contact-me:before {
    background: #b31328; }

.contactMe {
  display: flex;
  flex-direction: column;
  text-align: left; }

.img-contact {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%; }

.contact-me .title-parts {
  position: absolute;
  top: 0; }

body {
  background-color: rgba(11, 189, 153, 0.5); }
  @media only screen and (min-width: 240px) {
    body {
      background-color: rgba(245, 225, 75, 0.5); } }
  @media only screen and (min-width: 992px) {
    body {
      background-color: rgba(228, 120, 116, 0.5); } }
  @media only screen and (min-width: 768px) {
    body {
      background-color: rgba(46, 188, 204, 0.5); } }
  @media only screen and (min-width: 1200px) {
    body {
      background-color: rgba(46, 204, 46, 0.5); } }
  @media only screen and (min-width: 1400px) {
    body {
      background-color: rgba(147, 145, 241, 0.5); } }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0; }

.row {
  margin: 0; }

h1.title-parts {
  margin: 0; }

.title-parts {
  background-size: cover;
  color: white;
  position: absolute;
  top: 20px;
  z-index: 2;
  padding: 50px 60px; }

/*# sourceMappingURL=input.css.map */
