.myself{
    width: 100%;
    background: url(../images/ale/ale6.png) no-repeat center center;
    background-size: cover;
    background-position-y: -10px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;
    color: $white;
    margin: 0;
}

.whoIam{
    width: 40%;
    padding-left: 5%; 
    text-align: left;
    font-family: $font_Raleway;
    background: $grayOpacity;
    padding: 20px 10px;
	// margin: 70px 80px;
	color: $white;
	border: 2px groove $white;
	border-radius: 5px;
    box-shadow: 0 0 0 4px $grayOpacity;
    position: absolute;
    bottom: 25%;
    left: 5%;
    padding-top: 2vh;
    width: 50%;
    h1{
        font-size: 450%;
    }
    h2{
        font-size: 260%;
    }
    
    @include respond-to($tabletMax) {
        position: absolute;
        bottom: 25%;
        left: 5%;
        padding-top: 2vh;
        // margin: 180px 0 0 20px;
        width: 50%;
        h1{
            font-size: 350%;
            // font-weight: 700;
        }
        h2{
            // font-weight: 600;
            font-size: 210%;
        }
    }
	
	@include respond-to($mobileMax) {
        position: absolute;
        bottom: 25%;
        left: 5%;
        padding-top: 2vh;
        // margin: 180px 0 0 20px;
        width: 90%;
		h1{
			font-size: 240%;
		}
		h2{
			font-size: 180%;
		}
	}
}

.whatIdo {
	font-family: $font_Raleway;
	color: $white;
	position: relative;
	left: 2%;
}
.whatIdo-visible {
	float: left;
    position: relative;
    h2{
        margin-top: 0;
        color: $white;
    }
}

.meet-me {
    position: fixed;
    align-content: center;
    justify-content: center;
    bottom: 10%;
    width: 100%;
    background-color: transparent
}
.meet-me-icon {
    width: 45px;
    font-size: 40px;
    color: #e8e8e8;
    border: none;
    border-radius: 50%;
    background: linear-gradient(45deg, $principal, $principal , $principal);
    background-size: 300% 300%;
    cursor: pointer;
    transition: all 0.3s ease;
    padding: 2px;  
    &:hover {
      font-size: 50px;
      width: 55px;
    }    
}
