@import '_variables';

body{
    box-sizing: border-box;
    font-family: $fontTitle;
    background-image: url(../girl-tech.gif);
    background-repeat: no-repeat;
    background-size: cover;
    
}

